# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# User-specific
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# App-specific
*.ipa
*.dSYM.zip
*.dSYM
